services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: transactions_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: transactions_app
    depends_on:
      - db
    environment:
      POSTGRES_URL: postgres://user:password@db:5432/transactions_db
      PORT: 8080
    ports:
      - "8080:8080"

volumes:
  pgdata: